<h1>Todo List</h1>
<div>
  <input [(ngModel)]="title" type="text" placeholder="Enter Todo Description" (keyup.enter)="addTodo()">
  <button (click)="addTodo()" [disabled]="title.trim() === ''">Add Todo Item</button>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Status</th>
      <th>Update Status</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todoItem of todoItems">
      <td>{{ todoItem.title }}</td>
      <td>{{ todoItem.complete }}</td>
      <td>
        <button class="update" (click)="updateTodoStatus(todoItem.id)">Update Status</button>
      </td>
      <td>
        <button class="delete" (click)="deleteTodo(todoItem.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
