.container {
  margin-left: 20%;
  margin-right: 20%;
}
.page-header h1 {
  font-size: 3.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.mat-icon {
  transform: scale(2.3);
  vertical-align: 6px;
}
mat-divider {
  padding-bottom: 20px;
}
input {
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
  padding-right: 100px;
}
.delete-button, .update-button  {
  float: right;
}
.mat-column-select {
  width: 10%;
}
.mat-column-title {
  width: 90%;
}
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f0f0f0; 
}
.filter {
  font-size: .85em;
  padding-right: 570px;
}
.enter-input{
  font-size: .9em;
}
.input {
  padding-bottom: 20px;
}
td, th {
  font-size: 1.2em;
}
.no-items {
  padding-top: 1em;
  font-size: 1.2em;
  text-align: center;
}
